<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
  <servlet>
  	<servlet-name>PerformLoginServiceImpl</servlet-name>
 	<servlet-class>weddingsite.server.PerformLoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PerformLoginServiceImpl</servlet-name>
  	<url-pattern>/weddingsitegwt/performLogin/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>PerformAttendanceListQueryImpl</servlet-name>
	<servlet-class>weddingsite.server.PerformAttendanceListQueryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PerformAttendanceListQueryImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/performAttendanceListQuery/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>PerformAttendeeQueryImpl</servlet-name>
	<servlet-class>weddingsite.server.PerformAttendeeQueryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PerformAttendeeQueryImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/performAttendeeQuery/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>PerformEditAttendeeImpl</servlet-name>
	<servlet-class>weddingsite.server.PerformEditAttendeeImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PerformEditAttendeeImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/performEditAttendee/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>PerformSeatingChartQueryImpl</servlet-name>
	<servlet-class>weddingsite.server.PerformSeatingChartQueryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>PerformSeatingChartQueryImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/performSeatingChartQuery/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetTablesQueryImpl</servlet-name>
	<servlet-class>weddingsite.server.GetTablesQueryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetTablesQueryImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/GetTablesService/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GetPeopleAtTableQueryImpl</servlet-name>
	<servlet-class>weddingsite.server.GetPeopleAtTableQueryImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>GetPeopleAtTableQueryImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/GetPeopleAtTable/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>EditSeatingChartImpl</servlet-name>
	<servlet-class>weddingsite.server.EditSeatingChartImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditSeatingChartImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/EditSeatingChartService/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>EditAttendanceListImpl</servlet-name>
	<servlet-class>weddingsite.server.EditAttendanceListImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditAttendanceListImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/EditAttendanceListService/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>EditTablesImpl</servlet-name>
	<servlet-class>weddingsite.server.EditTablesImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditTablesImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/EditTable/*</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>EditPersonAtTableImpl</servlet-name>
	<servlet-class>weddingsite.server.EditPersonAtTableImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EditPersonAtTableImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/EditPersonAtTableService/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>CreateAccountImpl</servlet-name>
	<servlet-class>weddingsite.server.CreateAccountImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>CreateAccountImpl</servlet-name>
 	<url-pattern>/weddingsitegwt/CreateAccountService/*</url-pattern>
  </servlet-mapping>

  
  <!-- Servlet context listeners -->
  <listener>
    <listener-class>weddingsite.server.DatabaseInitListener</listener-class>
  </listener>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WeddingSiteGWT.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>
